/* contains styles */

@charset "utf-8";

*, ::before, ::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 1em;
    font-family: Sans-Serif;
    font-size: 14px;
    color: #555;
}

a {
    text-decoration: none;
    color: #08f;
}

#areas {
    width: calc(min(100vh, 100vw) - 2em);
    height: calc(min(100vh, 100vw) - 2em);
    display: flex;
    flex-direction: column;
}

#areas > div {
    display: flex;
    height: auto;
    max-height: 100%;
    flex-shrink: 0;
    flex: 1;
}

#areas > div > div {
    width: auto;
    max-width: 100%;
    flex-shrink: 0;
    flex: 1;
    border: 1px solid #888;
    font-weight: 250;
    text-align: center;
}

#areas > :first-child > div {
    border-top: 0;
}

#areas > :last-child > div {
    border-bottom: 0;
}

#areas > div > :first-child {
    border-left: 0;
}

#areas > div > :last-child {
    border-right: 0;
}

#areas > div > div.matched {
    background-color: #ff0;
}

#reset {
    width: 100%;
    text-align: center;
}

form {
    margin: 8px;
}

.with-computer {
    display: none;
}

input[name=computer]:checked ~ .with-computer {
    display: block;
}

input[type=submit] {
    display: block;
    width: 100%;
}

fieldset {
    border: 0;
}

noscript {
    display: block;
    margin-left: 2em;
}
